@import "tailwindcss";

@theme {
	--color-grey-08: #141414;
	--color-grey-10: #1a1a1a;
	--color-grey-15: #262626;
	--color-grey-20: #333333;
	--color-grey-30: #4d4d4d;
	--color-grey-60: #999999;

	--font-ubuntu-sans: "Ubuntu Sans", sans-serif;
}

body {
	@apply bg-grey-08 text-grey-60 font-ubuntu-sans;
}
@layer utilities {
	.container {
		@apply px-4 mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1130px] 2xl:max-w-[1340px];
	}
	p {
		@apply text-sm sm:text-base md:text-lg;
	}
	button {
		@apply cursor-pointer;
	}
	.section {
		@apply pt-20 md:pt-[100px] lg:mt-32;
	}
	h1,
	h2,
	h3,
	h4 {
		@apply font-semibold leading-tight text-balance;
	}
	h2 {
		@apply text-3xl text-white;
	}
	h4 {
		@apply text-xl font-semibold text-white;
	}
}

@layer components {
	.primary-btn {
		@apply bg-stone-700 text-white uppercase px-6 py-3 border border-stone-300 rounded-md block hover:bg-stone-800 transition-colors;
	}
	.secondary-btn {
		@apply bg-yellow-500 text-white px-6 py-3 rounded-md block hover:bg-yellow-600 transition-colors;
	}
}

/* Header */
.navbar {
	@apply lg:hidden fixed top-0 left-0 bg-stone-600 w-full h-screen flex items-center flex-col -translate-y-full duration-300 transition-transform z-40;
}

.navbar.active {
	@apply translate-y-0;
}

/* Hero */
.text-shape {
	animation: rotate linear infinite 15s;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(1turn);
	}
}
